/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/* Third party theme overrides */
.ag-theme-balham .ag-header {
    background-color: #05305d;
    color: #f8f9fa;
}

.main-content-margin{
    margin: 1.5%;
}